{{ if .Site.Params.showComments }}
<div class="comments">
  <h3>💬 评论</h3>
  
  <!-- Disqus 评论系统 -->
  {{ if .Site.Params.disqusShortname }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = {{ .Permalink }};
      this.page.identifier = {{ .RelPermalink }};
      this.page.title = {{ .Title }};
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>请启用JavaScript以查看<a href="https://disqus.com/?ref_noscript">由Disqus提供的评论</a>。</noscript>
  {{ end }}
</div>
{{ end }}
